body {
    padding-top: 5rem;
   
}

.top {
    background-color: #CF70CA;
    text-align: center;
}

.bottom {
    background-color: #F06347;
    text-align: center;
}

table {
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}